body {
  background: linear-gradient(145deg, #4b527e, #1e213a);
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: none
  width: 280px;
  padding: 20px;
  background: #23234cdd;
  border-radius: 18px;
  color: #b7b9d6;
  text-align: center;
  box-shadow: 0 6px 24px #0008;
  position: relative; 
  z-index: 1; }

.profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 14px;
}

.profile-info h2 {
  color: #4fc3f7;
  margin: 16px 0 10px 0;
}

#overlay {
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(9,9,9,9.9);
  color: purple;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  user-select: none;
  z-index: 9999;
